* {
    margin:0px;
	padding:0px;
    border:0px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(196, 203, 209);
    color: rgb(58, 57, 57);
    padding: 5px;
}

body{
    background-color: rgb(38, 49, 59);
}

table{
    background-color: aliceblue;
    border: 2px black solid;
    border-collapse: collapse;
    margin: 5px;
}

td, th{
    padding: 3px;
    border: 1px black solid;
}

#content{
    display: flex;
    flex-direction: column;
}

#vehicleContent{

}

#userContent{
    
}

#usageContent{
    
}